<!-- Creating a filter selector -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        name="listing[category]"
        class="form-control"
        required>
        <option value="disabled selected">Select a category</option>
        <option value="trending">Trending</option>
        <option value="mountain">Mountain</option>
        <option value="castle">Castle</option>
        <option value="pool">Pool</option>
        <option value="camping">Camping</option>
        <option value="farm">Farm</option>
        <option value="arctic">Arctic</option>
        <option value="boat">Boat</option>
        <option value="dome">Dome</option>
        <option value="city">City</option>
        <option value="room">Room</option>
      </select>
